left-panel-width = 250px
send-panel-height = 40px

.leftPanel
  position absolute
  top 0
  left 0
  bottom 0
  width left-panel-width
  border-right 1px solid #eeeded

.rightPanel
  position absolute
  top 0
  left left-panel-width
  bottom send-panel-height
  right 0

.sendPanel
  position absolute
  bottom 0
  right 0
  left left-panel-width
  height send-panel-height
