.root
  position relative
  width 100%
  height 100%
  background #f0eff0


  form
    position absolute
    top 50%
    left 15px
    right 15px
    transform translate(0, -50%)

  input
    box-sizing border-box
    width 100%
    height 100%
    border-radius 9999px
    font-size 12px
    padding 6px 10px
    border 1px solid #ccc
    outline none
    &:focus
      border-color #648ac6
