.root
  position relative
  width 100%
  height 100%
  background #f0eff0


  form
    position absolute
    top 50%
    left 15px
    right 15px
    transform translate(0, -50%)

.message
  box-sizing border-box
  width 100%
  height 100%
  border-radius 9999px
  font-size 12px
  padding 6px 40px 6px 10px
  border 1px solid #ccc
  outline none
  &:focus
    border-color #648ac6

.upload
  position: absolute
  top: 0
  right: 30px
  bottom: 0
  width: 20px
  overflow: hidden

  input
    cursor: pointer
    opacity: 0

  &:after
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    pointer-events: none
    background: url('./camera.svg') no-repeat center center
    opacity: 0.5

  &:hover:after
    opacity: 0.7
