.root
  height 100%
  overflow scroll

.threadListItem
  position relative
  padding 6px 6px 6px 62px
  min-height 40px
  border-bottom 1px solid #ccc
  cursor pointer
  &.selected
    background #0e82f8
    color #fff

.avatar
  position absolute
  left 6px
  top 50%
  width 40px
  height @width
  margin-top (-@width / 2)
  line-height @width
  text-align center
  border-radius (@width / 2)
  font-size (@width / 3)
  color #fff
  background linear-gradient(#b8b3b8, #6a686e)

.displayName
  font-weight 800
